body {
  background-color: #555;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #1b8c9a;
}

h1 {
  font-weight: 500;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.4;
}

.centered {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 4vw; 
  text-shadow: 2px 2px 4px #000;
}

input {
  width: 15%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

menu h3 {
  margin: 0;
  padding: 1.1em; 
  font-weight: 500; 
  font-size: 1.5vw;
}

#bold {
  color: #23aebd;
}

menu a {
  text-decoration: none;
  margin: 1em;
  color: white;
}

main {
  padding-left: 2%; 
  text-align: left;
}

main h2 {
  font-size: 3vw; 
  font-weight: 500;
}

main h3 {
  margin: 1em;
  font-weight: 500; 
}

h4{
  margin: 2em;
}

.picture-box {
  position: relative;
}

.picture-box img {
  width: 50%; 
  height: auto;
  display: block;
  opacity: 0.7;
}

footer {
  text-align: center;
}

button {
  background-color: #23aebd;
  border: none;
  color: white;
  padding: 10px 20px;;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #1b8c9a;
}
button:active {
  transform: scale(0.95);
}

#logoutMessage {
  display: inline-block;
}

#redeemMessage {
  display: inline-block;
}

footer a {
  color: #23aebd;
  text-decoration: none;
}